*{
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.round-corner{
    background-color: blue;
    padding: 10px;
    width: 300px;
    height: 100px;
    margin: 50px auto;
    /* border-radius: 150px ; */
    /* border-radius: 30px 100px 10px 50px; */
    /* border-radius: 30px 101px 10px 15px; */
    /* border-radius: 50px; */
    /* border-width: 20px;
    border-color: black;
    border-style:dashed; */
    /* border: ; */
    /* border:2px solid  yellow; */
    border-bottom:4px solid  rgb(15, 181, 62);
    border-top:4px solid  rgb(165, 30, 215);
    
}
.round-corner input{
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;

}
.position{
    width: 600px;
    height: 400px;
    background-color: yellowgreen;
    margin: 50px auto;
    position: relative;
}
.pos-a{
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 50px;
}
.relative{
    height: 100px;
    width: 100px;
    background-color: rgb(41, 22, 170);
    position: relative;
}
header{
    position: sticky;
    height: 100px;
    background-color: #fff;
}
.fixed{
    position: fixed;
}
h2{
    position: absolute;
    top:300px;
    left: 40%;
}