*{
    box-sizing: border-box;
}
body,html{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: yellow;
    padding: 10px 0;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
}
.logo,
.links{
    width: 500px;
    display: inline-block;
}
.logo{
    background-color: blue;
}
.links{
    text-align: right;
    background-color: gray;
}
a,span,strong,em{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
}