*{
    box-sizing: border-box;
}
body{
    height: 100%;
}
header,
section{
    padding: 50px;
    background-color: #fff;
    margin-bottom: 500px;
}
main{
    padding-top: 200px;
    min-height: 100%;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
