:root {
    --main-section-bg: yellow
}

body {
    background-color: red;
    color: #333
}

.nav-block {
    background-color: red
}

.nav-block-item {
    margin: 0
}

.nav-block-item-link {
    color: #fff
}

.nav-block-link {
    color: #000
}

@media(max-width: 700px) {
    .nav-block {
        background-color: gray
    }
}

div h3 {
    font-size: 20px;
    color: red
}

div h3::before {
    content: "!!!!!!!";
    color: #fff
}

div h3:hover {
    font-size: 40px;
    color: green;
    text-align: center
}

div h3:hover::before {
    color: #8a2be2
}

.first {
    margin: 0;
    padding: 0;
    list-style: none
}

.second {
    margin: 0;
    padding: 0;
    list-style: none
}

.avatar-big {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    background-color: gold
}

.avatar-small {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    background-color: silver
}

input::-webkit-input-placeholder {
    color: blue;
    font-size: 20px
}

input:-moz-placeholder {
    color: blue;
    font-size: 20px
}

input::-moz-placeholder {
    color: blue;
    font-size: 20px
}

input:-ms-input-placeholder {
    color: blue;
    font-size: 20px
}

.alert,
.info,
.danger {
    padding: 10px;
    font-size: 20px;
    border: 2px solid red
}

.danger {
    background-color: red
}

.info {
    background-color: blue;
    color: #fff
}