*{
    box-sizing: border-box;
}
body{
    padding: 50px;
    background-color: #ccc;
}
.container{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid red;
    background-image: url('../img/sprite-icon-29.jpg');
    background-position: top -17px left -17px;
}
.container:hover{
    background-position: top -102px left -17px;

}
.container.disabled{
    background-position: top -186px left -17px;
}
.big-bg{
    width: 1200px;
    height: 300px;
    padding: 50px;
    overflow-y: auto;
    color: #fff;
    background-image: url('../img/bg.jpeg');
    background-size: 80%;
    background-position: center;
    /* background-attachment: fixed; */
    /* background-attachment: scroll, fixed; */
    background-attachment: local;

}


