<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <main>
       <aside>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
       </aside>
       <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum at, iste corrupti nihil amet vel similique est autem minima dolorum facilis vitae voluptatibus quisquam eligendi ipsum odit, eum doloremque nostrum!
            <img src="smile.png" alt="">
       </section>
       <!-- <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum at, iste corrupti nihil amet vel similique est autem minima dolorum facilis vitae voluptatibus quisquam eligendi ipsum odit, eum doloremque nostrum!
       </section>
       <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum at, iste corrupti nihil amet vel similique est autem minima dolorum facilis vitae voluptatibus quisquam eligendi ipsum odit, eum doloremque nostrum!
        </section> -->
    </main>

    <div class="flex">
        <div class="static">
            <div>
                1
                <p>
                    222
                </p>
                <p>
                    333
                </p>
            </div>
            <p>
                2
            </p>
        </div>
        <div class="procent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus exercitationem corporis, pariatur quae impedit beatae nisi perferendis ipsa reprehenderit officia ea nam veritatis quasi eos sunt vitae eveniet nesciunt veniam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem id, esse ex quia enim eum quod veniam quaerat maiores dicta repudiandae reiciendis impedit. Cumque ipsum quibusdam asperiores recusandae aliquam quidem placeat consequatur ullam reprehenderit minus numquam blanditiis beatae sed animi eum ea, in nostrum. Illo excepturi porro commodi aliquid rem sint, ullam eum quia voluptatibus, deleniti ab laudantium suscipit consequuntur amet officia! Corporis quis nisi molestias iusto quasi qui possimus maxime incidunt culpa rem, suscipit quas perspiciatis sit laborum sapiente itaque aliquid aspernatur consequuntur deleniti dolores, placeat ratione esse. Eius placeat, ratione similique obcaecati laboriosam voluptatem qui earum eveniet nam.
        </div>
        <!-- <div>3</div>
        <div>4</div> -->

    </div>

</body>
</html>